<!DOCTYPE html>
<html>
<head>
  <title>Conversation forms</title>
  <%= stylesheet_link_tag    "conversation_forms/application", media: "all" %>
  <%= javascript_include_tag "conversation_forms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
